# Fichier de configuration personnel
# NE JAMAIS PUBLIER VOS SECRETS !
*.user.json
settings.user.json

# Fichiers de log et de cache
logs/
*.log
PSModuleAnalysisCache/
*History.txt

# Paramètres d'environnement local de VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json

# Binaires et dépendances .NET
[Bb]in/
[Oo]bj/

# Fichiers temporaires et de cache du système d'exploitation
*.tmp
*.bak
*.swp
*~
Thumbs.db
.DS_Store
_*.ps1

# Dossiers de packages PowerShell (si vous utilisez un gestionnaire local)
/packages
node_modules/